@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

html {
  font-size: 62.5%;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  width: min(100%, 1440px);
  margin: 30px auto 0 auto;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2rem;
}
